@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  @keyframes float-and-pulse {

    0%,
    100% {
      transform: translateY(0);
      border-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    50% {
      transform: translateY(-4px);
      border-color: rgba(255, 255, 255, 1);
      box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.3);
    }
  }

  --animate-float-pulse: float-and-pulse 3s ease-in-out infinite;

  @keyframes pulse-slow {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }
  }

  --animate-pulse-slow: pulse-slow 3s ease-in-out infinite;

  @keyframes splash {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }

    50% {
      transform: scale(1);
      opacity: 0.8;
    }

    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }

  --animate-splash: splash 1.5s ease-out forwards;

  @keyframes slow-bounce {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  --animate-slow-bounce: slow-bounce 2s ease-in-out infinite;


  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(1.05);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-fade-in: fade-in 0.3s ease-out both;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.underline-hover-ltr {
  @apply relative inline-block overflow-hidden;

  position: relative;
}

.underline-hover-ltr::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out, transform-origin 0s;
}

.underline-hover-ltr:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.underline-hover-ltr-green {
  @apply relative inline-block overflow-hidden;

  position: relative;
}

.underline-hover-ltr-green::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #A7F3D0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out, transform-origin 0s;
}

.underline-hover-ltr-green:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/roboto-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.chevron {
  width: 220px;
  aspect-ratio: 5 / 3;
  background: white;
  clip-path: polygon(0 50%,
      0 60%,
      50% 100%,
      100% 60%,
      100% 50%,
      50% 80%);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.chevron:hover {
  opacity: 0.8;
}